<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottoms">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">QA Board</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
					<sapn class=""
			
			</button>
		</div>
	
	
	
	</nav>

</body>
</html>