<html layout:decorate="~{layout}">
		<div layout:fragment="content" class="container my-3">
		<div class="row my-3">
		<div class="col-6">
		<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
		</div>
		<div class="col-6">
			<div class="input-group">
				<form th:action="@{/question/list}">
					<input type="text" name="kw" id="search_kw" class="form-controle" th:value="${kw}">
					<button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
				</form>
			</div>	
		</div>
	</div>
	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>번호</th>
				<th style="width:50%;">제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" th:each="question, loop : ${paging}">
				<td th:text="${paging.getTotalElements - (paging.number*paging.size)- (loop.index)}"></td><!-- 질문 글 번호 , loop : 임시값-->  <!-- paging.number-1 대신 .index 써주는게 더 깔끔 -->
				<td class="text-start"><!-- 제목줄(왼쪽 정렬) -->
					<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">제목</a>
					<span class="text-danger small ms-2" 
						th:if="${#lists.size(question.answerList)>0}" 
						th:text="${#lists.size(question.answerList)}"></span><!-- 답변 글들의 수 -->
				</td>
				<td>
					<span th:if="${question.author != null}" th:text="${question.author.username}"></span>				
				</td>
				<td><span th:text="${question.hit}"></span></td>
				<td th:text="${#temporals.format(question.createdate, 'yyyy-MM-dd HH:mm')}">등록일</td>
			</tr>
		</tbody>
	</table>
	<!-- 페이징 처리 시작 -->
	<div th:if="${!paging.isEmpty()}">  <!-- 페이징 객체 내에 글이 존재하면 참 -->
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">  <!-- 이전 페이지 가 없다면 disabled -->
				<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
					<span>이전</span>
				</a>
			</li>
			<!-- 페이지 표시 1, 2, 3, 4, 5 -->
			<li th:each="page : ${#numbers.sequence(0,paging.totalPages-1)}"
				th:if="${page >= paging.number-5 and page <=paging.number+5}"
				th:classappend="${page==paging.number} ? 'active'" class="page-item">
				<a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}">
				페이지
				</a>
			</li>
			<!--  페이지 표시 끝 -->
			<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
				<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
					<span>다음</span>
				</a>
			</li>
		</ul>
	
	
	</div>
	
	<!-- 페이징 처리 끝 -->
	<form th:action="@{/question/list}" method="get" id="searchForm">
		<input type="hidden" id="page" name="page" th:value="${paging.number}">
		<input type="hidden" id="kw" name="kw" th:value="${kw}">
	</form>
	</div>
	<!-- 자바스크립트 작성 -->
	<script layout:fragment="script" type="text/javascript">
		//페이지 번호 전송 시 -> kw(검색어)도 같이 전송하기 위한 자바 스크립드 
		const page_elements = document.getElementsByClassName("page-link");
		Array.from(page_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				document.getElementById('page').value=this.dataset.page;
				document.getElementById('searchForm').submit();
			});
		});	
		
		// 검색어와 페이지 번호를 같이 전송하기 위한 자바 스크립트
		const btn_search = document.getElementByClassName("btn-search");  
			btn_search.addEventListener('click', function () {
				document.getElementById('kw').value = document.getElementById('search_kw').value;
				document.getElementById('page').value=0;
		});
		
		
	</script>
</html>