<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
	<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>번호</th>
				<th style="width:50%;">제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" th:each="question, loop : ${paging}">
				<td th:text="${loop.count}"></td><!-- 질문 글 번호 , loop : 임시값-->
				<td class="text-start"><!-- 제목줄(왼쪽 정렬) -->
					<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">제목</a>
					<span th:text="${#lists.size(question.answerList)}"></span><!-- 답변 글들의 수 -->
				</td>
				<td>
					<span th:if="${question.author != null}" th:text="${question.author.username}"></span>				
				</td>
				<td><span th:text="${question.hit}"></span></td>
				<td th:text="${#temporals.format(question.createdate, 'yyyy-MM-dd HH:mm')}">등록일</td>
			</tr>
		</tbody>
	</table>
	<!-- 페이징 처리 시작 -->
	<div th:if="${!paging.isEmpty()}">  <!-- 페이징 객체 내에 글이 존재하면 참 -->
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">  <!-- 이전 페이지 가 없다면 disabled -->
				<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
					<span>이전</span>
				</a>
			</li>
			<!-- 페이지 표시 1, 2, 3, 4, 5 -->
			<li th:each="page : ${#numbers.sequence(0,paging.totalPages-1)}"
				th:if="${page >= paging.number-5 and page <=paging.number+5}"
				th:classappend="${page==paging.number} ? 'active'" class="page-item">
				<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}">
				페이지
				</a>
			</li>
			<!--  페이지 표시 끝 -->
			<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
					<span>다음</span>
				</a>
			</li>
		</ul>
	
	
	</div>
	
	<!-- 페이징 처리 끝 -->
	
	</div>
</html>